/* Variables */
$background-color: #073b4c;
$primary-color: #06d6a0;
$secondary-color: #118ab2;
$alternate-color: #8bf8b9;

$gain-high: #ff5d5d;
$gain-low: #56fba2;

$saved-cell-height: 200px;
$saved-cell-width: 350px;

$mixer-cell-width: 125px;

$effect-cell-height: 150px;
$effect-cell-width: 100px;

$input-form-cell-height: 100px;
$input-form-cell-width: 250px;

html, body, #root, .App {
  height: 100%;
  width: 100%;
}

* {
  color: black;
}

@mixin grid-item($align, $justify, $area) {
  justify-self: $align;
  align-self: $justify;

  @if $area != "" {
    grid-area: $area;
  }
}

.curve-raise {
  border-radius: 20px;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.1);
}

.button {
  @extend .curve-raise;

  background: $secondary-color;
  border: none;
  font-weight: bold;
  padding: 10px 25px;

  &:hover {
    background: $background-color;
    color: white
  }

  &:active {
    background: black;
    color: white
  }
}

.img_icons {
  border-radius: 5px;

  &:hover {
    background: $primary-color;
  }

  &:active {
    background: cadetblue;
  }

  &__active {
    background: $primary-color;
  }

  &__sec:hover {
    background: $secondary-color;
  }

  &__sec:active {
    background: cadetblue;
  }

  &__sec__active {
    padding-top: 2px;
    background: $secondary-color;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  background: $secondary-color;
  padding: 1em;
  gap: 0.5em;
  border-radius: 20px;
  height: $input-form-cell-height;
  width: $input-form-cell-width;

  .input-label {
  }

  .input-text {
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: right;
  }

  input[type="text"], textarea {
    background-color : $background-color; 
    color: white;
  }
}


.App {
  background: $background-color;

  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
          "nav"
          "content";
  padding: 1em;
  gap: 1em;
}

nav {
  @include grid-item(center, center, nav);
  @extend .curve-raise;

  background: $primary-color;
  width: 100%;
  height: 3rem;

  .route__ul {
    padding: 0;
    height: 1.5rem;
    margin: 0.75rem 0;
    list-style-type: none;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);

    .route__li {
      @include grid-item(center, center, "");
      font-weight: 800;

      a {
        text-decoration: none;
        text-align: center;
      }
    }

  }

  .player__ul {
    padding: 0;
    height: 1.5rem;
    margin: 0.75rem 0;
    list-style-type: none;

    display: flex;
    align-items: center;

    .player__li {
      font-weight: 800;
      margin: 0 20px;
      list-style-type: none;

      // .img_icons {
      //   padding-top: 2px;
      // }

      // .img_icons:hover {
      //   background: $secondary-color;
      // }

      // .img_icons__active {
      //   background: $secondary-color;
      // }


      a {
        text-decoration: none;
        text-align: center;
      }
    }


    .player__title {
      margin: 0 auto;
    }
  }

}

.home-container {
  @include grid-item(center, center, content);

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "upload";
  gap: 1em;

  .upload {
    @include grid-item(center, center, upload);
    @extend .curve-raise;

    background: $primary-color;

    width: 50vh;
    height: 30vh;
    min-width: 300px;
    min-height: 200px;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas:
            "title"
            "upload"
            "button";

    h1 {
      @include grid-item(center, center, title);

      text-align: center;
    }

    .upload__button {
      @include grid-item(center, center, upload);
      @extend .button;
    }

    .submit__button {
      @include grid-item(center, center, button);
      @extend .button;
    }
  }

}

.saved-container {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: repeat(auto-fit, $saved-cell-height);
  grid-template-columns: repeat(auto-fit, minmax($saved-cell-width, 1fr));
  gap: 1em;

  overflow-y: auto;

  .saved__cell {
    @extend .curve-raise;

    background: $primary-color;
    height: $saved-cell-height;

    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    grid-template-areas:
          "title"
          "content";
    gap: 1em;

    .saved__cell__title {
      @include grid-item(center, center, title);
      
      text-align: center;
    }

    .saved__cell__loading {
      @include grid-item(center, center, content);

      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      h3 {
        text-align: center;
      }

      .loading__open {
        @extend .button;
        @extend .curve-raise;

        margin: auto;
        text-decoration: none;
      }

    }
  }
}

.player-container {
  display: grid;
  min-width: 0;
  min-height: 0;

  .wave-container {
    width: 100%;
    overflow-y: auto;
    margin-bottom: 10px;

    .wave {
      @extend .curve-raise;
      width: 100%;
      height: 150px;
      margin: 1em 0;

      background: $secondary-color;

      display: grid;
      grid-template-columns: 100px 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
            "wave-side wave-content";
      gap: 1em;
      
      .wave__side {
        @include grid-item(center, center, wave-side);
        
        display: flex;
        flex-direction: column;

        .wave__side__actions {
          margin: 5px 0;
        }
      }

      .wave__content {
        @include grid-item(center, center, wave-content);
        width: 100%;
        overflow-x: auto;
      }
    }
  }

  .mixer-container {
    @extend .curve-raise;

    width: 100%;
    height: 30vh;
    min-height: 300px;
    overflow-y: auto;
    overflow-x: auto;

    background: $primary-color;

    .mix-view {
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: column;
      padding: 0.5em;

      .mix-header {
        @extend .curve-raise;

        background: $secondary-color;
        margin: 0 auto;
        max-width: 500px;
        width: 100%;
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        .mix-item {
          margin: 0 10px;
        }
      }

      .mix-container {
        height: 100%;

        display: flex;
        padding: 1em;
        align-items: center;
        justify-content: flex-start;
        overflow: auto;

        .mix {
          @extend .curve-raise;

          margin: 1em;
          background: $secondary-color;
          min-width: $mixer-cell-width;
          height: 100%;

          display: grid;
          grid-template-rows: 20px 1fr;
          grid-template-columns: repeat(2, 1fr);
          grid-template-areas:
                  "title title"
                  "gain control";
          padding: 1em;
          min-height: 210px;

          .mix-title {
            @include grid-item(center, center, title);
            cursor: pointer;
          }

          .mix-gain {
            @include grid-item(center, center, gain);

            .mix-slider {
              background: $primary-color;
              -webkit-appearance: slider-vertical;
              width: 10px;
              height: 80%;
            }

            //https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
            input[type=range] {
              -webkit-appearance: none;
              width: 100%;
              background: transparent;
            }

            input[type=range]::-webkit-slider-thumb {
              -webkit-appearance: none;
            }

            input[type=range]:focus {
              outline: none;
            }

            input[type=range]::-ms-track {
              width: 100%;
              cursor: pointer;

              /* Hides the slider so custom styles can be added */
              background: transparent; 
              border-color: transparent;
              color: transparent;
            }

            /* Special styling for WebKit/Blink */
            input[type=range]::-webkit-slider-thumb {
              -webkit-appearance: none;
              border: 1px solid #000000;
              height: 36px;
              width: 16px;
              border-radius: 3px;
              background: #ffffff;
              cursor: pointer;
              margin-top: -14px;
              box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
            }

            /* All the same stuff for Firefox */
            input[type=range]::-moz-range-thumb {
              box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
              border: 1px solid #000000;
              height: 36px;
              width: 16px;
              border-radius: 3px;
              background: $background-color;
              cursor: pointer;
            }

            input[type=range]::-moz-range-thumb:active {
              background: $primary-color;
            }

            input[type=range]::-webkit-slider-runnable-track {
              width: 100%;
              height: 8.4px;
              cursor: pointer;
              box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
              background: #3071a9;
              border-radius: 1.3px;
              border: 0.2px solid #010101;
            }

            input[type=range]:focus::-webkit-slider-runnable-track {
              background: #367ebd;
            }

            input[type=range]::-moz-range-track {
              height: 100%;
              width: 8.4px;
              cursor: pointer;
              box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
              background: linear-gradient($gain-high, $gain-low);
              border-radius: 1.3px;
              border: 0.2px solid #010101;
            }
          }

          .mix-control {
            @include grid-item(center, center, control);

            display: flex;
            flex-direction: column;

            .mix-control-item {
              margin: 10px 0;
            }
          }

        }
      }
    }

    .loading-view {
      height: 100%;

      display: flex;
      padding: 2em;
      align-items: center;
      justify-content: space-around;
      
      .loading__step {
        @extend .curve-raise;

        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        margin: 1em;
        background: $secondary-color;
        min-width: $mixer-cell-width;
        height: 100%;

      }

      // .loading__step:nth-child(2).loading_step_current::before,
      // .loading__step:nth-child(2).loading_step_complete::before,
      // .loading__step:nth-child(2).loading_step_complete::after
      //  {
      //   content: '';
      //   height: 2px;
      //   width: auto;
      //   background-color: black;
      //   display: inline-block;
      //   position: relative;
      //   vertical-align: middle;
      //   margin-left: 25%;
      //   right: $mixer-cell-width;
      //   top: 25%;
      // } 

      // .loading__step:nth-child(2).loading_step_complete::after {
      //   margin-left: 0;
      //   margin-right: 25%;
      //   right: 0;
      //   left: $mixer-cell-width;
      // }

      .loading_step_current > * {
        color: black;
      }

      .loading_step_complete > * {
        color: $primary-color;
      }

      .loading_step_pending > * {
        color: rgb(172, 6, 6);
      }

    }

    .effect-view {
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: column;

      .effect-header {
        display: flex;
        padding: 1em;
        gap: 1em;
        align-items: center;
        justify-content: center;

        .effect-button {
          @extend .button;
          @extend .curve-raise;
        }

        .effect-name {
          margin: 0 auto;
        }
      }

      .effect-container {
        display: grid;
        grid-template-rows: repeat(auto-fit, $effect-cell-height);
        grid-template-columns: repeat(auto-fill, minmax($effect-cell-width, 1fr));
        gap: 1em;
        padding: 1em;

        overflow-y: auto;

        .effect {
          @extend .curve-raise;

          height: $effect-cell-height;
          background: $secondary-color;
          text-align: center;
          cursor: pointer;
        }
      }

      .echo-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, $input-form-cell-width);
        justify-content: center;
        padding: 2em;
        gap: 2em;

        div {
          @include grid-item(center, center, "");
        }
      }

      .volume-container {

      }
    }
  }  
}

.progress {
  height: 2px;
  width: 80%;
  margin: auto;

  background-color: $primary-color;
  display: flex;

  &__wave {
    width: 90%;
    margin: 0 20px;
  }
}

    
@keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 50%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}

.progress::before {
  height: 2px;
  width: 80%;
  margin: 0;
  background-color: black;
  content: '';
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;

  &__progress::before {
    width: 90%;
    margin: 0 20px;
  }
}


// has to be a better way
@media (max-width: 375px) {
  .saved-container {
    grid-template-columns: repeat(auto-fit, 100%);
  }

  .home-container {
    .upload {
      width: 90vw;
    }
  }
}

// @media (max-width: 500px) {
//   .player-container {
//     .wave-container {
//       height: 50vh;
//     }
//   }
// }

@media (min-width: 700px) {
  .player-container {
    .mixer-container {
      .mix-view {
        .mix-container {
          justify-content: space-around;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .mix-view:after {
    content: '.';
    visibility: hidden;
  }

  .player-container {
    .mixer-container {
      .mix-view {
        .mix-container {
          padding: 1em 1em 1em 0;
        }
        .mix:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
