/* Variables */
html, body, #root, .App {
  height: 100%;
}

* {
  color: black;
}

.curve-raise, .button, .home-container .upload .upload__button, .home-container .upload .submit__button, nav, .home-container .upload {
  border-radius: 20px;
  -webkit-box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.1);
}

.button, .home-container .upload .upload__button, .home-container .upload .submit__button {
  background: #118ab2;
  border: none;
  padding: 10px;
  font-weight: bold;
  width: 100px;
}

.button:hover, .home-container .upload .upload__button:hover, .home-container .upload .submit__button:hover {
  background: #073b4c;
  color: white;
}

.button:active, .home-container .upload .upload__button:active, .home-container .upload .submit__button:active {
  background: black;
  color: white;
}

.App {
  background: #073b4c;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 1fr;
      grid-template-rows: 50px 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "nav" "content";
  padding: 1em;
  gap: 1em;
}

nav {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  background: #06d6a0;
  width: 100%;
}

nav ul {
  padding: 0;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

nav ul li {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav ul li a {
  text-decoration: none;
  text-align: center;
}

.home-container {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "upload";
}

.home-container .upload {
      justify-self: center;
      align-self: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: upload;
  background: #06d6a0;
  width: 50vh;
  height: 30vh;
  min-width: 300px;
  min-height: 180px;
  display: -ms-grid;
  display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 1fr;
      grid-template-areas: "title" "upload" "button";
}

.home-container .upload h1 {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.home-container .upload .upload__button {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: upload;
}

.home-container .upload .submit__button {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: button;
}
/*# sourceMappingURL=App.css.map */