/* Variables */
html, body, #root, .App {
  height: 100%;
  width: 100%;
  background: #073b4c;
}

.error-message {
  background: #d37873;
}

.info-message {
  background: #73a0d3;
}

.error-message-text {
  color: #d37873;
}

.info-message-text {
  color: #73a0d3;
}

* {
  color: black;
}

.curve-raise, .button, .file-button, .saved-container .saved__cell .loading__open, .player-container .mixer-container .effect-view .effect-header .effect-button, .modal, nav, .login-container .form, .saved-container .saved__cell, .player-container .wave-container .wave, .player-container .mixer-container, .player-container .mixer-container .mix-view .mix-header, .player-container .mixer-container .mix-view .mix-container .mix, .player-container .mixer-container .loading-view .loading__step, .player-container .mixer-container .effect-view .effect-container .effect {
  border-radius: 20px;
  -webkit-box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.1);
}

.button, .file-button, .saved-container .saved__cell .loading__open, .player-container .mixer-container .effect-view .effect-header .effect-button {
  background: #118ab2;
  border: none;
  font-weight: bold;
  padding: 10px 25px;
}

.button:hover, .file-button:hover, .saved-container .saved__cell .loading__open:hover, .player-container .mixer-container .effect-view .effect-header .effect-button:hover, .button:hover path, .file-button:hover path, .saved-container .saved__cell .loading__open:hover path, .player-container .mixer-container .effect-view .effect-header .effect-button:hover path {
  background: #073b4c;
  color: white;
  stroke: white;
}

.button:active, .file-button:active, .saved-container .saved__cell .loading__open:active, .player-container .mixer-container .effect-view .effect-header .effect-button:active, .button:active path, .file-button:active path, .saved-container .saved__cell .loading__open:active path, .player-container .mixer-container .effect-view .effect-header .effect-button:active path {
  background: black;
  color: white;
}

.button:disabled, .file-button:disabled, .saved-container .saved__cell .loading__open:disabled, .player-container .mixer-container .effect-view .effect-header .effect-button:disabled, .button:disabled path, .file-button:disabled path, .saved-container .saved__cell .loading__open:disabled path, .player-container .mixer-container .effect-view .effect-header .effect-button:disabled path {
  background: grey;
}

.file-button {
  background: #06d6a0;
  border: 3px solid #073b4c;
  height: 100px;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.file-button:hover div {
  color: white;
}

.img_icons {
  border-radius: 5px;
}

.img_icons:hover {
  background: #06d6a0;
}

.img_icons:active {
  background: cadetblue;
}

.img_icons__active {
  background: #06d6a0;
}

.img_icons__sec:hover {
  background: #118ab2;
}

.img_icons__sec:active {
  background: cadetblue;
}

.img_icons__sec__active {
  padding-top: 2px;
  background: #118ab2;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #073b4c;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb:active {
  background: #06d6a0;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  height: 100%;
  width: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: linear-gradient(#ff5d5d, #56fba2);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.input-container, .input-container__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #118ab2;
  padding: 1em;
  gap: 0.5em;
  border-radius: 20px;
  height: 100px;
  width: 250px;
}

.input-container .input-text, .input-container__form .input-text {
  height: 30px;
  border: none;
  border-radius: 5px;
  text-align: right;
}

.input-container input[type=text], .input-container__form input[type=text], .input-container input[type=password], .input-container__form input[type=password], .input-container textarea, .input-container__form textarea {
  background-color: #073b4c;
  color: white;
}

.input-container .input__slider__horizontal::-moz-range-track, .input-container__form .input__slider__horizontal::-moz-range-track {
  width: 100%;
  background: linear-gradient(to left, #ff5d5d, #56fba2);
}

.input-container__transpose {
  height: 100%;
  width: 100px;
}

.input-container__form {
  background: none;
  width: 100%;
  height: 140px;
}

.input-container__form .input-text {
  height: 50px;
  text-align: left;
  border-radius: 10px;
}

.input-container__form .border {
  width: 0;
  height: 5px;
  background: #118ab2;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

.input-container__form .border__error {
  width: 100%;
  background: #d37873;
}

.input-container__form .input-text:focus ~ .border {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input-container__form .form-message {
  border-radius: 10px;
  margin: 0px;
  padding: 0px 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.modal {
  position: fixed;
  z-index: 500;
  width: 600px;
  min-height: 400px;
  margin-top: -200px;
  margin-left: -300px;
  left: 50%;
  top: 50%;
  padding: 16px;
  background-color: #06d6a0;
  -webkit-box-shadow: 1px 1px 1px black;
          box-shadow: 1px 1px 1px black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.App {
  background: #073b4c;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 1fr;
      grid-template-rows: 50px 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "nav" "content";
  padding: 1em;
  gap: 1em;
}

nav {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  background: #06d6a0;
  width: 100%;
  height: 3rem;
}

nav .login__ul {
  padding: 0;
  height: 1.5rem;
  margin: 0.75rem 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .login__ul .login__li {
  margin: 0 20px;
  list-style-type: none;
}

nav .login__ul .login__li a {
  text-decoration: none;
  text-align: center;
}

nav .login__ul .login__last {
  margin-left: auto;
}

nav .route__ul {
  padding: 0;
  height: 1.5rem;
  margin: 0.75rem 0;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

nav .route__ul .route__li {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 800;
}

nav .route__ul .route__li a {
  text-decoration: none;
  text-align: center;
}

nav .player__ul {
  padding: 0;
  height: 1.5rem;
  margin: 0.75rem 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .player__ul .player__li {
  font-weight: 800;
  margin: 0 20px;
  list-style-type: none;
}

nav .player__ul .player__li a {
  text-decoration: none;
  text-align: center;
}

nav .player__ul .player__title {
  margin: 0 auto;
}

.nav__trans {
  background: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav__trans * {
  color: white;
}

.login-container {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
      grid-template-areas: "desc form";
}

.login-container .desc {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: desc;
}

.login-container .desc h1 {
  color: #06d6a0;
}

.login-container .form {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: form;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #06d6a0;
  min-width: 400px;
  min-height: 550px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.login-container .form .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  margin: 20px auto 20px auto;
  padding: 5px;
}

.login-container .form .message * {
  padding: 2px;
}

.login-container .form .alternate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.login-container .form .alternate .register {
  margin-left: auto;
}

.login-container .form .alternate button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 16px;
}

.login-container .form .button:disabled, .login-container .form .file-button:disabled, .login-container .form .saved-container .saved__cell .loading__open:disabled, .saved-container .saved__cell .login-container .form .loading__open:disabled, .login-container .form .player-container .mixer-container .effect-view .effect-header .effect-button:disabled, .player-container .mixer-container .effect-view .effect-header .login-container .form .effect-button:disabled {
  background: grey;
}

.login-container .form .login-button {
  width: 100px;
  margin: auto auto 50px auto;
}

.login-container .form input[type="text"] {
  font-size: 15px;
  padding-left: 10px;
}

.login-container .form .header {
  text-align: center;
}

.login-container .form__forgot .form-horizontal-container {
  margin: auto auto 50px auto;
}

.login-container .form__forgot .form-horizontal-container * {
  margin: 0 10px;
}

.login-container .form__forgot .form-loading {
  margin: auto auto 50px auto;
}

.saved-container {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (275px)[auto-fit];
      grid-template-rows: repeat(auto-fit, 275px);
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  overflow-y: auto;
}

.saved-container .upload h1 {
  text-align: center;
}

.saved-container .upload .form-interaction {
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.saved-container .upload .form-interaction .button, .saved-container .upload .form-interaction .file-button, .saved-container .upload .form-interaction .saved__cell .loading__open, .saved-container .saved__cell .upload .form-interaction .loading__open, .saved-container .upload .form-interaction .player-container .mixer-container .effect-view .effect-header .effect-button, .player-container .mixer-container .effect-view .effect-header .saved-container .upload .form-interaction .effect-button {
  margin: 0 auto;
}

.saved-container .upload .upload-progress {
  margin: 25px auto 25px auto;
}

.saved-container .saved__cell {
  background: #06d6a0;
  height: 275px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "header" "content";
  gap: 1em;
}

.saved-container .saved__cell .saved__cell__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.saved-container .saved__cell .saved__cell__header .saved__cell__type {
  margin-right: auto;
}

.saved-container .saved__cell .saved__cell__header .saved__cell__title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  text-align: center;
}

.saved-container .saved__cell .saved__cell__loading {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.saved-container .saved__cell .saved__cell__loading h3 {
  text-align: center;
}

.saved-container .saved__cell .loading__open {
  margin: auto;
  margin-bottom: 10px;
  text-decoration: none;
}

.saved-container .add__cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #073b4c;
  border: 5px solid #06d6a0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.saved-container .add__cell .add__icon__cell line {
  stroke: #06d6a0;
}

.saved-container .add__cell:hover {
  background-color: #06d6a0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.saved-container .add__cell:hover .add__icon__cell line {
  stroke: #073b4c;
}

.saved-container .add__cell:active {
  opacity: 0.5;
}

.player-container {
  display: -ms-grid;
  display: grid;
  min-width: 0;
  min-height: 0;
}

.player-container .wave-container {
  width: 100%;
  overflow-y: auto;
  margin-bottom: 10px;
}

.player-container .wave-container .wave {
  width: 100%;
  height: 150px;
  margin: 1em 0;
  background: #118ab2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr;
      grid-template-columns: 100px 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "wave-side wave-content";
  gap: 1em;
}

.player-container .wave-container .wave .wave__side {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: wave-side;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player-container .wave-container .wave .wave__side .wave__side__actions {
  margin: 5px 0;
}

.player-container .wave-container .wave .wave__content {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: wave-content;
  width: 100%;
  overflow-x: auto;
}

.player-container .mixer-container {
  width: 100%;
  height: 30vh;
  min-height: 300px;
  overflow-y: auto;
  overflow-x: auto;
  margin-top: auto;
  background: #06d6a0;
}

.player-container .mixer-container .mix-view {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5em;
}

.player-container .mixer-container .mix-view .mix-header {
  background: #118ab2;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-container .mixer-container .mix-view .mix-header .mix-item {
  margin: 0 10px;
}

.player-container .mixer-container .mix-view .mix-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: auto;
}

.player-container .mixer-container .mix-view .mix-container .mix {
  margin: 1em;
  background: #118ab2;
  min-width: 125px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20px 1fr;
      grid-template-rows: 20px 1fr;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "title title" "gain control";
  padding: 1em;
  min-height: 210px;
}

.player-container .mixer-container .mix-view .mix-container .mix .mix-title {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  cursor: pointer;
}

.player-container .mixer-container .mix-view .mix-container .mix .mix-gain {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: gain;
}

.player-container .mixer-container .mix-view .mix-container .mix .mix-gain .mix-slider {
  background: #06d6a0;
  -webkit-appearance: slider-vertical;
  width: 10px;
  height: 80%;
}

.player-container .mixer-container .mix-view .mix-container .mix .mix-control {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: control;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player-container .mixer-container .mix-view .mix-container .mix .mix-control .mix-control-item {
  margin: 10px 0;
}

.player-container .mixer-container .loading-view {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.player-container .mixer-container .loading-view .loading__step {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
  background: #118ab2;
  min-width: 125px;
  height: 100%;
}

.player-container .mixer-container .loading-view .loading_step_current > * {
  color: black;
}

.player-container .mixer-container .loading-view .loading_step_complete > * {
  color: #06d6a0;
}

.player-container .mixer-container .loading-view .loading_step_pending > * {
  color: #ac0606;
}

.player-container .mixer-container .effect-view {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player-container .mixer-container .effect-view .effect-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.player-container .mixer-container .effect-view .effect-header .effect-name {
  margin: 0 auto;
}

.player-container .mixer-container .effect-view .effect-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (150px)[auto-fit];
      grid-template-rows: repeat(auto-fit, 150px);
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1em;
  padding: 1em;
  overflow-y: auto;
}

.player-container .mixer-container .effect-view .effect-container .effect {
  height: 150px;
  background: #118ab2;
  text-align: center;
  cursor: pointer;
}

.player-container .mixer-container .effect-view .echo-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (250px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 250px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
  gap: 2em;
}

.player-container .mixer-container .effect-view .echo-container div {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.player-container .mixer-container .effect-view .volume-container {
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}

.player-container .mixer-container .effect-view .volume-container .input__text {
  width: 45%;
}

.player-container .mixer-container .effect-view .volume-container .input__slider {
  width: 90%;
}

.progress {
  height: 2px;
  width: 80%;
  margin: auto;
  background-color: #06d6a0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress__wave {
  width: 90%;
  margin: 0 20px;
}

@-webkit-keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 50%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}

@keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 50%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}

.progress::before {
  height: 2px;
  width: 80%;
  margin: 0;
  background-color: black;
  content: '';
  -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
          animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.progress::before__progress::before {
  width: 90%;
  margin: 0 20px;
}

@media (max-width: 375px) {
  .saved-container {
    -ms-grid-columns: (100%)[auto-fit];
        grid-template-columns: repeat(auto-fit, 100%);
  }
  .home-container .upload {
    width: 90vw;
  }
}

@media (min-width: 700px) {
  .player-container .mixer-container .mix-view .mix-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 700px) {
  .login-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 3fr;
        grid-template-rows: 1fr 3fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "desc" "form";
  }
  .mix-view:after {
    content: '.';
    visibility: hidden;
  }
  .player-container .mixer-container .mix-view .mix-container {
    padding: 1em 1em 1em 0;
  }
  .player-container .mixer-container .mix-view .mix:first-child {
    margin-left: 0;
  }
}
/*# sourceMappingURL=App.css.map */