/* Variables */
html, body, #root, .App {
  height: 100%;
  width: 100%;
}

* {
  color: black;
}

.curve-raise, .button, .home-container .upload .upload__button, .home-container .upload .submit__button, .saved-container .saved__cell .saved__cell__loading .loading__open, .player-container .mixer-container .effect-view .effect-header .effect-button, nav, .home-container .upload, .saved-container .saved__cell, .player-container .wave-container .wave, .player-container .mixer-container, .player-container .mixer-container .mix-view .mix-header, .player-container .mixer-container .mix-view .mix-container .mix, .player-container .mixer-container .loading-view .loading__step, .player-container .mixer-container .effect-view .effect-container .effect {
  border-radius: 20px;
  -webkit-box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.1);
}

.button, .home-container .upload .upload__button, .home-container .upload .submit__button, .saved-container .saved__cell .saved__cell__loading .loading__open, .player-container .mixer-container .effect-view .effect-header .effect-button {
  background: #118ab2;
  border: none;
  font-weight: bold;
  padding: 10px 25px;
}

.button:hover, .home-container .upload .upload__button:hover, .home-container .upload .submit__button:hover, .saved-container .saved__cell .saved__cell__loading .loading__open:hover, .player-container .mixer-container .effect-view .effect-header .effect-button:hover {
  background: #073b4c;
  color: white;
}

.button:active, .home-container .upload .upload__button:active, .home-container .upload .submit__button:active, .saved-container .saved__cell .saved__cell__loading .loading__open:active, .player-container .mixer-container .effect-view .effect-header .effect-button:active {
  background: black;
  color: white;
}

.img_icons {
  border-radius: 5px;
}

.img_icons:hover {
  background: #06d6a0;
}

.img_icons:active {
  background: cadetblue;
}

.img_icons__active {
  background: #06d6a0;
}

.App {
  background: #073b4c;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 1fr;
      grid-template-rows: 50px 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "nav" "content";
  padding: 1em;
  gap: 1em;
}

nav {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  background: #06d6a0;
  width: 100%;
  height: 3rem;
}

nav .route__ul {
  padding: 0;
  height: 1.5rem;
  margin: 0.75rem 0;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

nav .route__ul .route__li {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 800;
}

nav .route__ul .route__li a {
  text-decoration: none;
  text-align: center;
}

nav .player__ul {
  padding: 0;
  height: 1.5rem;
  margin: 0.75rem 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .player__ul .player__li {
  font-weight: 800;
  margin: 0 20px;
  list-style-type: none;
}

nav .player__ul .player__li .img_icons {
  padding-top: 2px;
}

nav .player__ul .player__li .img_icons:hover {
  background: #118ab2;
}

nav .player__ul .player__li .img_icons:active {
  background: cadetblue;
}

nav .player__ul .player__li a {
  text-decoration: none;
  text-align: center;
}

nav .player__ul .player__title {
  margin: 0 auto;
}

.home-container {
      justify-self: center;
      align-self: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  display: -ms-grid;
  display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "upload";
  gap: 1em;
}

.home-container .upload {
      justify-self: center;
      align-self: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: upload;
  background: #06d6a0;
  width: 50vh;
  height: 30vh;
  min-width: 300px;
  min-height: 200px;
  display: -ms-grid;
  display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 1fr;
      grid-template-areas: "title" "upload" "button";
}

.home-container .upload h1 {
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  text-align: center;
}

.home-container .upload .upload__button {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: upload;
}

.home-container .upload .submit__button {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: button;
}

.saved-container {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (200px)[auto-fit];
      grid-template-rows: repeat(auto-fit, 200px);
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1em;
  overflow-y: auto;
}

.saved-container .saved__cell {
  background: #06d6a0;
  height: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "title" "content";
  gap: 1em;
}

.saved-container .saved__cell .saved__cell__title {
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  text-align: center;
}

.saved-container .saved__cell .saved__cell__loading {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.saved-container .saved__cell .saved__cell__loading h3 {
  text-align: center;
}

.saved-container .saved__cell .saved__cell__loading .loading__open {
  margin: auto;
  text-decoration: none;
}

.player-container {
  display: -ms-grid;
  display: grid;
  min-width: 0;
  min-height: 0;
}

.player-container .wave-container {
  width: 100%;
  overflow-y: auto;
  margin-bottom: 10px;
}

.player-container .wave-container .wave {
  width: 100%;
  height: 150px;
  margin: 1em 0;
  background: #118ab2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr;
      grid-template-columns: 100px 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "wave-side wave-content";
  gap: 1em;
}

.player-container .wave-container .wave .wave__side {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: wave-side;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player-container .wave-container .wave .wave__side .wave__side__actions {
  margin: 5px 0;
}

.player-container .wave-container .wave .wave__content {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: wave-content;
  width: 100%;
  overflow-x: auto;
}

.player-container .mixer-container {
  width: 100%;
  height: 30vh;
  min-height: 300px;
  overflow-y: auto;
  overflow-x: auto;
  background: #06d6a0;
}

.player-container .mixer-container .mix-view {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5em;
}

.player-container .mixer-container .mix-view .mix-header {
  background: #118ab2;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-container .mixer-container .mix-view .mix-header .mix-item {
  margin: 0 10px;
}

.player-container .mixer-container .mix-view .mix-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: auto;
}

.player-container .mixer-container .mix-view .mix-container .mix {
  margin: 1em;
  background: #118ab2;
  min-width: 125px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20px 1fr;
      grid-template-rows: 20px 1fr;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "title title" "gain control";
  padding: 1em;
  min-height: 210px;
}

.player-container .mixer-container .mix-view .mix-container .mix .mix-title {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  cursor: pointer;
}

.player-container .mixer-container .mix-view .mix-container .mix .mix-gain {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: gain;
  /* Special styling for WebKit/Blink */
  /* All the same stuff for Firefox */
}

.player-container .mixer-container .mix-view .mix-container .mix .mix-gain .mix-slider {
  background: #06d6a0;
  -webkit-appearance: slider-vertical;
  width: 10px;
  height: 80%;
}

.player-container .mixer-container .mix-view .mix-container .mix .mix-gain input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

.player-container .mixer-container .mix-view .mix-container .mix .mix-gain input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.player-container .mixer-container .mix-view .mix-container .mix .mix-gain input[type=range]:focus {
  outline: none;
}

.player-container .mixer-container .mix-view .mix-container .mix .mix-gain input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.player-container .mixer-container .mix-view .mix-container .mix .mix-gain input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.player-container .mixer-container .mix-view .mix-container .mix .mix-gain input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #073b4c;
  cursor: pointer;
}

.player-container .mixer-container .mix-view .mix-container .mix .mix-gain input[type=range]::-moz-range-thumb:active {
  background: #06d6a0;
}

.player-container .mixer-container .mix-view .mix-container .mix .mix-gain input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.player-container .mixer-container .mix-view .mix-container .mix .mix-gain input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

.player-container .mixer-container .mix-view .mix-container .mix .mix-gain input[type=range]::-moz-range-track {
  height: 100%;
  width: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: linear-gradient(#ff5d5d, #56fba2);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.player-container .mixer-container .mix-view .mix-container .mix .mix-control {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: control;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player-container .mixer-container .mix-view .mix-container .mix .mix-control .mix-control-item {
  margin: 10px 0;
}

.player-container .mixer-container .loading-view {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.player-container .mixer-container .loading-view .loading__step {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
  background: #118ab2;
  min-width: 125px;
  height: 100%;
}

.player-container .mixer-container .loading-view .loading_step_current > * {
  color: black;
}

.player-container .mixer-container .loading-view .loading_step_complete > * {
  color: #06d6a0;
}

.player-container .mixer-container .loading-view .loading_step_pending > * {
  color: #ac0606;
}

.player-container .mixer-container .effect-view {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player-container .mixer-container .effect-view .effect-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.player-container .mixer-container .effect-view .effect-header .effect-name {
  margin: 0 auto;
}

.player-container .mixer-container .effect-view .effect-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (150px)[auto-fit];
      grid-template-rows: repeat(auto-fit, 150px);
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1em;
  padding: 1em;
  overflow-y: auto;
}

.player-container .mixer-container .effect-view .effect-container .effect {
  height: 150px;
  background: #118ab2;
  text-align: center;
}

.progress {
  height: 2px;
  width: 80%;
  margin: auto;
  background-color: #06d6a0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress__wave {
  width: 90%;
  margin: 0 20px;
}

@-webkit-keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 50%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}

@keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 50%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}

.progress::before {
  height: 2px;
  width: 80%;
  margin: 0;
  background-color: black;
  content: '';
  -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
          animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.progress::before__progress::before {
  width: 90%;
  margin: 0 20px;
}

@media (max-width: 375px) {
  .saved-container {
    -ms-grid-columns: (100%)[auto-fit];
        grid-template-columns: repeat(auto-fit, 100%);
  }
  .home-container .upload {
    width: 90vw;
  }
}

@media (min-width: 700px) {
  .player-container .mixer-container .mix-view .mix-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 700px) {
  .mix-view:after {
    content: '.';
    visibility: hidden;
  }
  .player-container .mixer-container .mix-view .mix-container {
    padding: 1em 1em 1em 0;
  }
  .player-container .mixer-container .mix-view .mix:first-child {
    margin-left: 0;
  }
}
/*# sourceMappingURL=App.css.map */