/* Variables */
$background-color: #073b4c;
$primary-color: #06d6a0;
$secondary-color: #118ab2;
$alternate-color: #8bf8b9;

$error-color: #d37873;
$info-color: #73a0d3;

$gain-high: #ff5d5d;
$gain-low: #56fba2;

$saved-cell-height: 275px;
$saved-cell-width: 300px;

$mixer-cell-width: 125px;

$effect-cell-height: 150px;
$effect-cell-width: 100px;

$input-form-cell-height: 100px;
$input-form-cell-width: 250px;

$login-form-height: 550px;
$login-form-width: 400px;

$modal-height: 550px;

html, body, #root, .App {
  height: 100%;
  width: 100%;
  background: $background-color;
}


.error-message {
  background: $error-color !important;
}

.info-message {
  background: $info-color !important;
}

.error-message-text {
  color: $error-color !important;
}

.info-message-text {
  color: $info-color !important;
}

* {
  color: black;
}

@mixin grid-item($align, $justify, $area) {
  justify-self: $align;
  align-self: $justify;

  @if $area != "" {
    grid-area: $area;
  }
}

.curve-raise {
  border-radius: 20px;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.1);
}

.button {
  @extend .curve-raise;

  background: $secondary-color;
  border: none;
  font-weight: bold;
  padding: 10px 25px;

  &:hover, &:hover path {
    background: $background-color;
    color: white;
    stroke: white;
  }

  &:active, &:active path {
    background: black;
    color: white;
  }

  &:disabled, &:disabled path {
    background: grey;
  }
}

.file-button {
  @extend .button;

  background: $primary-color;
  border: 3px solid $background-color;
  max-height: 100px;
  width: 95%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover div {
    color: white;
  }
}

.img_icons {
  border-radius: 5px;

  &:hover {
    background: $primary-color;
  }

  &:active {
    background: cadetblue;
  }

  &__active {
    background: $primary-color;
  }

  &__sec:hover {
    background: $secondary-color;
  }

  &__sec:active {
    background: cadetblue;
  }

  &__sec__active {
    padding-top: 2px;
    background: $secondary-color;
  }
}

//https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: $background-color;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb:active {
  background: $primary-color;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  height: 100%;
  width: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: linear-gradient($gain-high, $gain-low);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

select {
  background: $background-color;
  border: none;
  color: white;
  border-radius: 10px;
  height: 50px;
}

.input-container {
  display: flex;
  flex-direction: column;
  background: $secondary-color;
  padding: 1em;
  gap: 0.5em;
  border-radius: 20px;
  height: $input-form-cell-height;
  width: $input-form-cell-width;

  .input-label {
  }

  .input-text {
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: right;
  }

  input[type=text], input[type=password], textarea {
    background-color : $background-color; 
    color: white;
  }

  .input__slider__horizontal::-moz-range-track {
    width: 100%;
    background: linear-gradient(to left, $gain-high, $gain-low);
  }

  &__transpose {
    height: 100%;
    width: $input-form-cell-height;
  }
}

.input-container__form {
  @extend .input-container;
  background: none;
  width: 100%;
  height: 140px;

  .input-text {
    height: 50px;
    text-align: left;
    border-radius: 10px;
  }

  .border {
    width: 0;
    height: 5px;
    background: $secondary-color;
    transition: width 0.3s linear;
  }

  .border__error {
    width: 100%;
    background: $error-color;
  }

  .input-text:focus ~ .border{
    width: 100%;
    transition: 0.3s;
  }

  .form-message {
    border-radius: 10px;
    margin: 0px;
    padding: 0px 5px;
    width: max-content;
  }
}

.modal {
  @extend .curve-raise;

  position: fixed;
  z-index: 500;

  width: ( $modal-height * 1.5 );
  max-height: $modal-height;

  margin-top: (- $modal-height / 2);
  margin-left: (- $modal-height * 1.5 / 2);

  left: 50%;
  top: 50%;
  padding: 16px;

  background-color: $primary-color;
  box-shadow: 1px 1px 1px black;
  box-sizing: border-box;

  overflow: auto;

  transition: all 0.3s ease-out;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);

  transition: all 0.3s;
}

.App {
  background: $background-color;

  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
          "nav"
          "content";
  padding: 1em;
  gap: 1em;
}

nav {
  @include grid-item(center, center, nav);
  @extend .curve-raise;

  background: $primary-color;
  width: 100%;
  height: 3rem;

  .login__ul {
    padding: 0;
    height: 1.5rem;
    margin: 0.75rem 0;
    list-style-type: none;

    display: flex;
    align-items: center;

    .login__li {
      margin: 0 20px;
      list-style-type: none;

      a {
        text-decoration: none;
        text-align: center;
      }
    }

    .login__last {
      margin-left: auto;
    }
  }

  .route__ul {
    padding: 0;
    height: 1.5rem;
    margin: 0.75rem 0;
    list-style-type: none;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);

    .route__li {
      @include grid-item(center, center, "");
      font-weight: 800;

      a {
        text-decoration: none;
        text-align: center;
      }
    }

  }

  .player__ul {
    padding: 0;
    height: 1.5rem;
    margin: 0.75rem 0;
    list-style-type: none;

    display: flex;
    align-items: center;

    .player__li {
      font-weight: 800;
      margin: 0 20px;
      list-style-type: none;

      // .img_icons {
      //   padding-top: 2px;
      // }

      // .img_icons:hover {
      //   background: $secondary-color;
      // }

      // .img_icons__active {
      //   background: $secondary-color;
      // }


      a {
        text-decoration: none;
        text-align: center;
      }
    }


    .player__title {
      margin: 0 auto;
    }
  }
}

.nav__trans {
  background: none;
  border-radius: 0;
  box-shadow: none;
  
  * {
    color: white;
  }
}

.login-container {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
            "desc form";

  .desc {
    @include grid-item(center, center, desc);

    h1 {
      color: $primary-color;
    }
  }

  .form {
    @include grid-item(center, center, form);
    @extend .curve-raise;

    display: flex;
    flex-direction: column;

    background: $primary-color;

    min-width: $login-form-width;
    min-height: $login-form-height;

    transition: all 1s;

    .message {
      display: flex;

      border-radius: 10px;
      margin: 20px auto 20px auto;
      padding: 5px;

      * {
        padding: 2px;
      }
    }

    .alternate {
      display: flex;
      flex-direction: row;
      
      .register {
        margin-left: auto;
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0 16px;
      }
    }

    .button:disabled {
      background: grey;
    }

    .login-button {
      width: 100px;
      margin: auto auto 50px auto;
    }

    input[type="text"] {
      font-size: 15px;
      padding-left: 10px;
    }

    .header {
      text-align: center;
    }
  }

  .form__forgot {
    .form-horizontal-container {
      margin: auto auto 50px auto;

      * {
        margin: 0 10px;
      }
    }

    // Loading bar
    .form-loading {
      margin: auto auto 50px auto;
    }
  }
}

.saved-container {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: repeat(auto-fit, $saved-cell-height);
  grid-template-columns: repeat(auto-fit, minmax($saved-cell-width, 1fr));
  gap: 1em;

  overflow-y: auto;

  .modal-form {
    height: 100%;

    .form-input-signal-param {
      display: flex;
      flex-direction: row;
    }

    h1, h2 {
      text-align: center;
    }

    .form-interaction {
      margin: 20px auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      
      .button {
        margin: 0 auto;
      }
    }

    .upload-progress {
      margin: 25px auto 25px auto;
    }
  }

  .modal-form__delete {

    .form-interaction {
      margin-top: auto;
    }
  }

  .saved__cell {
    @extend .curve-raise;

    background: $primary-color;
    height: $saved-cell-height;

    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    grid-template-areas:
          "header"
          "content";
    gap: 1em;

    .saved__cell__header {
      display: flex;
      flex-direction: row;
      align-items: center;

      .saved__cell__type {
        margin-left: 1em;
        margin-right: auto;
      }

      .saved__cell__delete {
        margin-left: auto;
        margin-right: 1em;
        cursor: pointer;

        path {
          stroke: $error-color;
        }
      }

      .saved__cell__title {
        flex: 1;
        overflow: hidden;
        max-width: 15ch;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include grid-item(center, center, title);
        
        text-align: center;
      }
    }

    .saved__cell__loading {
      @include grid-item(center, center, content);

      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      h3 {
        text-align: center;
      }


    }

    .loading__open {
      @extend .button;
      @extend .curve-raise;

      margin: auto;
      margin-bottom: 10px;
      text-decoration: none;
    }
  }

  .add__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $background-color;
    border: 5px solid $primary-color;
    transition: 0.2s linear;

    .add__icon__cell line {
      stroke: $primary-color;
    }

  }

  .add__cell:hover {
    background-color: $primary-color;
    transition: 0.2s linear;

    .add__icon__cell line {
      stroke: $background-color;
    }
  }

  .add__cell:active {
    opacity: 0.5;
  }
}

.player-container {
  display: grid;
  min-width: 0;
  min-height: 0;

  .wave-container {
    width: 100%;
    overflow-y: auto;
    margin-bottom: 10px;

    .wave {
      @extend .curve-raise;
      width: 100%;
      height: 150px;
      margin: 1em 0;

      background: $secondary-color;

      display: grid;
      grid-template-columns: 100px 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
            "wave-side wave-content";
      gap: 1em;
      
      .wave__side {
        @include grid-item(center, center, wave-side);
        
        display: flex;
        flex-direction: column;

        .wave__side__actions {
          margin: 5px 0;
        }
      }

      .wave__content {
        @include grid-item(center, center, wave-content);
        width: 100%;
        overflow-x: auto;
      }
    }
  }

  .mixer-container {
    @extend .curve-raise;

    width: 100%;
    height: 30vh;
    min-height: 300px;
    overflow-y: auto;
    overflow-x: auto;
    margin-top: auto; // pin it down

    background: $primary-color;

    .mix-view {
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: column;
      padding: 0.5em;

      .mix-header {
        @extend .curve-raise;

        background: $secondary-color;
        margin: 0 auto;
        max-width: 500px;
        width: 100%;
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        .mix-item {
          margin: 0 10px;
        }
      }

      .mix-container {
        height: 100%;

        display: flex;
        padding: 1em;
        align-items: center;
        justify-content: flex-start;
        overflow: auto;

        .mix {
          @extend .curve-raise;

          margin: 1em;
          background: $secondary-color;
          min-width: $mixer-cell-width;
          height: 100%;

          display: grid;
          grid-template-rows: 20px 1fr;
          grid-template-columns: repeat(2, 1fr);
          grid-template-areas:
                  "title title"
                  "gain control";
          padding: 1em;
          min-height: 210px;

          .mix-title {
            @include grid-item(center, center, title);
            cursor: pointer;
          }

          .mix-gain {
            @include grid-item(center, center, gain);

            .mix-slider {
              background: $primary-color;
              -webkit-appearance: slider-vertical;
              width: 10px;
              height: 80%;
            }

          }

          .mix-control {
            @include grid-item(center, center, control);

            display: flex;
            flex-direction: column;

            .mix-control-item {
              margin: 10px 0;
            }
          }

        }
      }
    }

    .loading-view {
      height: 100%;

      display: flex;
      padding: 2em;
      align-items: center;
      justify-content: space-around;
      
      .loading__step {
        @extend .curve-raise;

        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        margin: 1em;
        background: $secondary-color;
        min-width: $mixer-cell-width;
        height: 100%;

      }

      // .loading__step:nth-child(2).loading_step_current::before,
      // .loading__step:nth-child(2).loading_step_complete::before,
      // .loading__step:nth-child(2).loading_step_complete::after
      //  {
      //   content: '';
      //   height: 2px;
      //   width: auto;
      //   background-color: black;
      //   display: inline-block;
      //   position: relative;
      //   vertical-align: middle;
      //   margin-left: 25%;
      //   right: $mixer-cell-width;
      //   top: 25%;
      // } 

      // .loading__step:nth-child(2).loading_step_complete::after {
      //   margin-left: 0;
      //   margin-right: 25%;
      //   right: 0;
      //   left: $mixer-cell-width;
      // }

      .loading_step_current > * {
        color: black;
      }

      .loading_step_complete > * {
        color: $primary-color;
      }

      .loading_step_pending > * {
        color: rgb(172, 6, 6);
      }

    }

    .effect-view {
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: column;

      .effect-header {
        display: flex;
        padding: 1em;
        gap: 1em;
        align-items: center;
        justify-content: center;

        .effect-button {
          @extend .button;
          @extend .curve-raise;
        }

        .effect-name {
          margin: 0 auto;
        }
      }

      .effect-container {
        display: grid;
        grid-template-rows: repeat(auto-fit, $effect-cell-height);
        grid-template-columns: repeat(auto-fill, minmax($effect-cell-width, 1fr));
        gap: 1em;
        padding: 1em;

        overflow-y: auto;

        .effect {
          @extend .curve-raise;

          height: $effect-cell-height;
          background: $secondary-color;
          text-align: center;
          cursor: pointer;
        }
      }

      .echo-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, $input-form-cell-width);
        justify-content: center;
        padding: 2em;
        gap: 2em;

        div {
          @include grid-item(center, center, "");
        }
      }

      .volume-container {
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.5em;

        .input__text {
          width: 45%
        }

        .input__slider {
          width: 90%;
        }
      }
    }
  }  
}

.progress {
  height: 2px;
  width: 80%;
  margin: auto;

  background-color: $primary-color;
  display: flex;

  &__wave {
    width: 90%;
    margin: 0 20px;
  }
}

    
@keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 50%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}

.progress::before {
  height: 2px;
  width: 80%;
  margin: 0;
  background-color: black;
  content: '';
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;

  &__progress::before {
    width: 90%;
    margin: 0 20px;
  }
}


// has to be a better way
@media (max-width: 375px) {
  .saved-container {
    grid-template-columns: repeat(auto-fit, 100%);
  }

  .home-container {
    .modal-form {
      width: 90vw;
    }
  }
}

// @media (max-width: 500px) {
//   .player-container {
//     .wave-container {
//       height: 50vh;
//     }
//   }
// }

@media (min-width: 700px) {
  .player-container {
    .mixer-container {
      .mix-view {
        .mix-container {
          justify-content: space-around;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .login-container {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr;
    grid-template-areas:
              "desc"
              "form";
  }
  .mix-view:after {
    content: '.';
    visibility: hidden;
  }

  .player-container {
    .mixer-container {
      .mix-view {
        .mix-container {
          padding: 1em 1em 1em 0;
        }
        .mix:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: 850px),
       (max-height: 430px) {
  .modal {
    width: 80vw;
    max-height: 90vh;

    margin-left: -40vw;
  }
}

// @media (max-width: 400px),
//        (max-height: 430px) {
//   .modal {
//     width: 90vw;
//     height: 90vh;
//     margin-left: -45vw;
//     margin-top: -45vh;
//   }
// }